*.sublime-settings
sudio
source
.idea
.DS_Store
*.txt
*.out
*.exe
*.o
*.zip
*.rar
*.xls
*.class
*.py[cod]
*.bat
*.htm
favicon.ico

*.vsd
*.doc
*.DOC
*.docx
*.DOCX
*.dot
*.DOT
*.pdf
*.PDF
*.rtf
*.RTF
*.png
*.psd

*result*
*.atom*

